<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="enco_contactus_post_action_plugin" type="Enco\ContactUs\Plugin\Controller\Index\PostPlugin"/>
    </type>
</config>
