<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Enco_ContactUs::contact_us_menu"
             title="Messages"
             module="Enco_ContactUs"
             resource="Enco_ContactUs::contact_us"
             translate="title toolTip"
             toolTip="Contact Us messages"
             sortOrder="26"/>
        <add id="Enco_ContactUs::contact_us_grid"
             title="Messages"
             module="Enco_ContactUs"
             resource="Enco_ContactUs::contact_us_messages"
             translate="title"
             parent="Enco_ContactUs::contact_us_menu"
             action="contact/messages/index"/>
    </menu>
</config>
